<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');

    hr {
      height: 2px;
      background-color: #730E15;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 22px;
      color: #B00100;
    }
    h3 {
      font-weight: 600;
      font-family: 'Abril Fatface', serif;
      color: #B00100;
      max-height: 50px;
      padding: 0;
    }
    h4 {

    }
    a {
      font-family: 'Abril Fatface', serif;
      color: #B00100;
    }
    a:visited {
      color: #730E15;
    }
    span {
      font-family: 'Abril Fatface', serif;
    }
    p {
      font-family: 'Cormorant Unicase', serif;
      margin: 0;
    }
    ul > li {
      font-family: 'Cormorant Unicase', serif;
    }

    @media only screen and (max-device-width: 480px) {
      /* mobile-specific CSS styles go here */
      table[class=contenttable],table[class=socialTable] {
        width:320px !important;
      }
      p[class="date"] { display: none !important; }
    }

  </style>
</head>
<body>
<table align="left" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
  <tbody>
  <tr>
    <td align="center" style="">
      <p>Черкассы, Украина</p>
      <p>(093) 47 93 950 | <a href="mailto:dimkawp@gmail.com">dimkawp@gmail.com</a></p>
      <br>
    </td>
  </tr>
  <tr>
    <td align="center" style="">
      <div style="max-width: 600px;">
        <h1>Дмитрий Бондарь</h1>
        <h2>Front-end developer junior</h2>
        <hr>
        <hr>
      </div>
    </td>
  </tr>
  <tr>
    <td align="center">
      <div style="max-width: 640px;">
        <table align="center" width="640" border="0" cellpadding="0" cellspacing="0" class="contenttable">
          <tr>
            <td>
              <table width="320" border="0" cellspacing="0" cellpadding="20" align="left">
                <tr>
                  <td height="100%" width="50%" valign="top">
                    <h3>Опыт работы</h3>
                    <hr>
                    <span>2010 - 2013</span>
                    <br>
                    <span><strong>ГОСУДАРСТВЕННАЯ ИСПОЛНИТЕЛЬНАЯ СЛУЖБА</strong></span>
                    <p>(ДВС - Державна виконавча служба)</p>
                    <br>
                    <span>2017 - 2018</span>
                    <p>Различные работы в рамках обучения <br><a href="https://github.com/dimkawp/geekhub-frontend-js" target="_blank">front-end</a></p>
                    <p>Проект в рамках обучения ruby on rails <br><a href="https://github.com/dimkawp/YTC" target="_blank">YTC</a></p>
                    <p>Мой <a href="https://my-self-prod.herokuapp.com/" target="_blank">website</a></p>
                    <p></p>
                    <h4>Семинары/лекции</h4>
                    <p>-</p>
                  </td>
                </tr>
              </table>
              <table width="320" border="0" cellspacing="0" cellpadding="20" align="right">
                <tr>
                  <td height="100%" width="50%" valign="top">
                    <h3>Образование</h3>
                    <hr>
                    <h4>ТЕХНИК ПРОГРАММИСТ</h4>
                    <p style="">
                      Диплом с отличием младшего специалиста.
                      ЧХТК Черкасский художественно-технический колледж.
                    </p>
                    <span>2010</span>
                    <br>
                    <h4>Навыки</h4>
                    <ul>
                      <li>
                        Frameworks:
                        <ul>
                          <li><a href="https://reactjs.org/" target="_blank">ReactJS</a></li>
                          <li><a href="https://reactstrap.github.io/" target="_blank">Bootstrap</a></li>
                          <li><a href="https://react.semantic-ui.com/" target="_blank">Semantic-ui</a></li>
                        </ul>
                      </li>
                      <li>
                        Preprocessor:
                        <ul>
                          <li>
                            <a href="https://sass-lang.com/" target="_blank">SASS</a> with <a href="http://compass-style.org" target="_blank">Compass</a> /
                            <a href="https://www.npmjs.com/package/gulp" target="_blank">Gulp</a> or
                            <a href="https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc" target="_blank">React</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        API:
                        <ul>
                          <li>Grape web-framework <br> (grape-swagger)</li>
                          <ul><li>orm - activerecord</li><li>sidekiq</li></ul>
                        </ul>
                      </li>
                      <li>PostgreSQL, MySQL.</li>
                      <li>Git, Heroku.</li>
                    </ul>
                    <br>
                    <h4>Дополнительно</h4>
                    <p>SonyVegas</p>
                    <br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table align="center" width="640" border="0" cellpadding="0" cellspacing="0" class="socialTable">
          <tr><td align="center"><a href="https://github.com/dimkawp" target="_blank" style="margin: 5px;">GIT</a></td></tr>
          <tr><td align="center"><a href="https://www.youtube.com/channel/UCFRA75dCkcCD9X-QevTu4Qw" target="_blank" style="margin: 5px;">YOUTUBE</a></td></tr>
          <tr><td align="center"><a href="https://www.facebook.com/dimkawp.bond.7" target="_blank" style="margin: 5px;">FACEBOOK</a></td></tr>
        </table>
        <hr>
      </div>
    </td>
  </tr>
  <tr>
    <td align="center" style="">
      <p>Черкассы, Украина</p>
      <p>(093) 47 93 950 | <a href="mailto:dimkawp@gmail.com">dimkawp@gmail.com</a></p>
      <br>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
